html, html body
{
	height: 100%;
}

body
{
	background: lightblue;
	height: 100%;
}

.task
{
	/*left: 50px;
	top:	50px;*/
}

.button
{
	background-color: lightblue;
	border: 1px solid white;
	border-radius: 50%;
	text-align: center;
	font-size: 20px;
	width: 50px;
	height: 50px;
	left: 50px;
	top: 10px;
}

.bordered
{
		border: 5px solid white;
}

.button:hover
{
	background-color: white;
}

.center
{
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;
}

#WorkFlowArea
{
	height: 100%;
}

.ui-widget.success-dialog {
    font-family: Verdana,Arial,sans-serif;
    font-size: .8em;
}

.ui-widget-content.success-dialog {
    background: #F9F9F9;
    border: 1px solid #90d93f;
    color: #222222;
}

.ui-dialog.success-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

.ui-dialog.success-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
    margin: 0;
}

.ui-dialog.success-dialog .ui-widget-header {
    background: #b0de78;
    border: 0;
    color: #fff;
    font-weight: normal;
}

.ui-dialog.success-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
    font-size: 1em;
}

span
{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}