html, html body
{
	height: 100%;
}

body
{
	background: #272728;
	height: 100%;
	padding:0px;
	margin:0px;
}


h1 
{ 
	font-size: 1.2em; margin: .6em 0; 
}

label, input 
{ 
	display:block; 
}

input.text 
{ 
	margin-bottom:12px; width:95%; padding: .4em; 
}

input.checkbox 
{
	display: inline;
}

fieldset 
{ 
	padding: 0; border:0; margin-top: 25px; 
}

div#users-contain 
{ 
	width: 350px; margin: 20px 0; 
}

div#users-contain table 
{ 
	margin: 1em 0; border-collapse: collapse; width: 100%; 
}

div#users-contain table td, div#users-contain table th 
{ 
	border: 1px solid #eee; padding: .6em 10px; text-align: left; 
}

.task
{
	/*left: 50px;
	top:	50px;*/
	cursor: pointer;
	position: absolute;
	height: 100px;
	width: 100px;
}

.button
{
	background-color: #272728;
	border: 2px solid white;
	border-radius: 25px;
	text-align: center;
	font-size: 15px;
	color: white;
	width: 90px;
	height: 30px;
	left: 100px;
	right: 50px;
	top: 10px;
}

.saveButton
{
	background-color: #272728;
	border: 2px solid white;
	border-radius: 25px;
	text-align: center;
	font-size: 15px;
	color: white;
	width: 60px;
	height: 30px;
	left: 100px;
	right: 50px;
	top: 10px;
}

.bordered
{
		border: 5px solid white;
		position: absolute;
}

.button:hover
{
	background-color: white;
	color: #272728;
	font-style: bold;
}

.pressed
{
	background-color: white;
	color: #272728;
	font-style: bold;
}
.center
{
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;
}

.left
{
	left: 50px;
	top: 50px;
}

#WorkFlowArea
{
	height: 100%;
	position: absolute;
	top: 70px;
}

#buttonArea
{
	height: 50px;
	position: absolute;
}

.no-close .ui-dialog-titlebar-close
{
	display: none;
}

.check
{
	display: inline-block;
	width: 400px;
}

.checkBox
{
	display: inline;
}


.ui-dialog .ui-state-error 
{ 
	padding: .3em; 
}

.validateTips 
{ 
	border: 1px solid transparent; padding: 0.3em; 
}

.node1{
	position:absolute;
	width:100px;
	padding:0px;
	cursor:pointer;
}
.node2{
	width:100px;
	padding:0px;
	cursor:pointer;
}

span
{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}